---
namespace: {{ collection_namespace }}
name: {{ collection_name }}
version: {{ collection_version }}
readme: README.md
authors:
  - Will Tome (@wtome)
description: Ansible Collection for Red Hat insights
tags:
  - infrastructure
  - linux
  - monitoring
  - security
  - tools
repository: {{ collection_repo }}
build_ignore:
  - .github
  - .gitignore
  - "*/tests"
  - changelogs/.plugin-cache.yaml
  - docs/create_docs.yml
  - docs/templates
  - galaxy.yml.j2
  - release.yml
  - tests/inventory
  - tests/output
license:
  - Apache-2.0
