---
namespace: test
name: insights
version: 1
readme: README.md
authors:
- jmorenas
description: Ansible Collection for Red Hat insights test
repository: https://github.com/jangel97/ansible-collections-insights.git
build_ignore:
- galaxy.yml.j2
- release.yml
- .gitignore
- changelogs/.plugin-cache.yaml
- tests/output
license:
- Apache-2.0
