---
name: codespell
on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - main
      - master
  pull_request:
permissions: {}

jobs:
  codespell:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Run codespell
        uses: codespell-project/actions-codespell@v2
